<style>
    /* All visual elements for the pop up modal */
    #modal {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    #videogameDetailsContent {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

</style>

<div id="modal" ng-if="showDetails">
    <div id="videogameDetailsContent">
        <img ng-src="{{imageUrl}}"/>
        <h1>Videogame Title: {{name}}</h1>
        <p>Retail price: {{retailPrice}}</p>
        <p>Sale price: {{salePrice}}</p>
        <p>Store: {{storeName}}</p>
        <!-- When the button is clicked, we call the callWishlistAdder function which then calls the service function to save this game to your wishlist-->
        <button ng-if="!fromWishlist && !savedInWishlist" ng-click="callWishlistAdder(gameID, videogame)">Add to Wishlist</button>
        <button ng-if="!fromWishlist && savedInWishlist" ng-click="callWishlistRemover(gameID)">Remove from Wishlist</button>

        <!-- If statements will display all information given that they exist (could also use ng-show/ng-hide accordingly) -->
        <p ng-if="steamRatingText">Steam rating: {{steamRatingText}}</p>
        <p ng-if="!steamId">Sorry, We Could Not Find a Link to Steam!</p>
        <a ng-if="steamId" href="https://store.steampowered.com/app/{{steamId}}" target="_blank">Buy It On Steam!</a>
        <a ng-if="metacriticLink" href="https://www.metacritic.com{{metacriticLink}}" target="_blank">
            <img ng-src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Metacritic_M.png" width="30px" height="30px" alt="Metacritic logo that redirects you to metacritic page." />
        </a>

        <br>

        <!-- "Closes" the modal view by hiding the element from screen-->
        <button ng-click="hideInfo()">Close</button>
    </div>
</div>