<style>
    #modal {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    #videogameDetailsContent {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

</style>

<div id="modal" ng-if="showDetails">
    <div id="videogameDetailsContent">
        <img ng-src="{{imageUrl}}"/>
        <h1>Videogame Title: {{name}}</h1>
        <p>Retail price: {{retailPrice}}</p>
        <p ng-if="steamRatingText">Steam rating: {{steamRatingText}}</p>
        <p ng-if="!steamId">Sorry, We Could Not Find a Link to Steam!</p>
        <a ng-if="steamId" href="https://store.steampowered.com/app/{{steamId}}">Buy It On Steam!</a>
        <br>
        <button ng-click="hideInfo()">Close</button>
    </div>
</div>