<!-- When page initializes, we load the wishlist data -->
<p ng-init="loadWishlist()"></p>

<!-- This element can see all properties in videogameList.js and is saving the data from the selectedVideogame property into its binding -->
<videogame-details videogame="selectedVideogame"></videogame-details>

<div class="container mt-3">
    <div class="d-flex flex-wrap grid row">
        <div class="videogameBlock col-2 m-1" ng-repeat="videogame in wishlistArray" ng-click="selectVideogame(videogame)">
            <img ng-src="{{videogame.gameInfo.thumb}}" class="img-fluid mw-25 mh-25 mx-auto d-block"/>
            <p class="text-center">{{videogame.gameInfo.name}}</p>
            <button ng-click="callWishlistRemover(videogame.gameInfo.gameID)" class="mx-auto mt-auto d-block ">Remove from wishlist</button>
        </div>
    </div>
</div>