<style>
    /* .videogameBlock{
        border-style: solid;
        display: inline-block;
        width: 300px; 
        height: 200px;
        text-align: center;
    } */

</style>

<!-- When page initializes, we load the wishlist data -->
<p ng-init="loadWishlist()"></p>

<!-- Still working on finding a way to have a pop up modal show up upon clicking like in videogameList -->
<!-- <videogame-details videogame="selectedVideogame"></videogame-details> -->

<br>
<div class="d-flex flex-wrap">
    <div class="videogameBlock border border-dark w-25" ng-repeat="videogame in wishlistArray" >
        <img src="{{videogame.gameInfo.thumb}}" class="img-fluid mw-25 mh-25 mx-auto d-block"/>
        <p class="text-center">{{videogame.gameInfo.name}}</p>
        <button ng-click="callWishlistRemover(videogame.gameInfo.gameID)" class="mx-auto mt-auto d-block ">Remove from wishlist</button>
        
    </div>
</div>

