<div id="onSaleContainer" class="container mt-5 mb-5" style="background-color: rgb(140, 141, 140); border-radius: 25px;">
    <h3 style="color: white">Games Currently on Sale!</h3>
    <!-- This element can see all properties in videogameList.js and is saving the data from the selectedVideogame property into its binding -->
    <videogame-details videogame="selectedVideogame"></videogame-details>

    <div class="grid">
        <div class="row">
            <div class="videogameBlock col" style="min-height: auto;" ng-repeat="videogame in videogames" ng-click="selectVideogame(videogame)">
                <img ng-src="{{videogame.thumb}}" class="img-fluid mx-auto d-block"/>
                <p class="text-center">{{videogame.title}}</p>
            </div>
        </div>
    </div>
</div>